server:
  port: 8080

spring:
  application:
    name: archive
  
  datasource:
    url: jdbc:postgresql://localhost:5432/archive
    username: archive_user
    password: archive_password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  data:
    redis:
      host: localhost
      port: 6379
  
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
      enabled: true

jwt:
  common:
    key: YXJjaGl2ZV9qd3Rfc2VjcmV0X2tleV90aGlzX2lzX2FfbG9uZ19zZWNyZXRfa2V5X2Zvcl9qd3RfdG9rZW5fZ2VuZXJhdGlvbl9hbmRfdmFsaWRhdGlvbg==

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

slack:
  bot:
    token: eG94Yi05MTU2MTU5NTkxMDI4LTk0OTg1ODEyNTgxMTQtTFh0WVRXS096aFBGSXpobE9YSkpNOXE5
    channel: "#백엔드_에러알림"

aws:
  s3:
    region: ap-northeast-2
    bucket-name: archive-image-storage

logging:
  level:
    org.springframework: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.servlet: DEBUG
    org.springframework.web.multipart: DEBUG
    org.springframework.web.bind: DEBUG
    com.alpha.archive: DEBUG
    root: INFO

openai:
  api:
    key: ${OPENAI_API_KEY:dummy-key-for-local-dev}